body {
    font-family: 'Open Sans', sans-serif;
}

/* Start Navbar */

.scrolled {
    background: rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #000;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar .navbar-brand {
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
}

.navbar .navbar-brand span {
    font-weight: 300;
    color: #ff8b38;
}

/* End Navbar */

/* Start Header */

header {
    background: url(../images/background-header.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    color: #FFF;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

header .centering-vh {
    margin-top: 25vh;
}

@media (max-width: 991px){
    
    header .centering-vh {
        margin-top: 80px
    }
    
    }

header h1 {
    font-size: 75px;
    font-weight: bold;
}

header h1 span {
    font-weight: 300;
    color: #ff8b38;
}

header h1 ~ .lead {
    font-size: 40px;
    font-weight: 400;
}

header h1 ~ .lead:after {
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    background-color: #FFF;
    margin: 25px 0;
}

@media (max-width: 991px){
    
header h1 ~ .lead:after {
    margin: 25px auto;
}

}

header h1 ~ .lead ~ p {
    opacity: 0.6;
}

header button {
    background: transparent;
    border: 2px solid #FFF;
    font-weight: 700;
    padding: 8px 30px;
    margin-top: 30px;
}

header form {
    width: 360px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 70px;
}

header form h2 {
    font-size: 18px;
    font-weight: bold;
    background-color: #F5F5F5;
    color: #333;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}

header form h2 span {
    color: #ff8b38;
}

header form .form-control {
    width: 85%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: none;
    margin: 0 auto 35px;
}
header form input[type="submit"] {
    background-color: #ff8b38;
    padding: 13px;
    transition: all 0.5s ease-in-out;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (max-width: 991px){
    header form {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}

/* End Header */

/* Start Social Section */

.Social-media {
    padding: 15px;
    box-shadow: -2px -5px 13px #000;
}

.Social-media h4 {
    font-weight: bold;
    margin-bottom: 5px;
}
.Social-media p {
    color: #a1a1a1;
    line-height: 1.4;
}

.Social-media i {
    margin: 20px;
    color: #ccc;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.Social-media i.fa-facebook:hover {
    color:#3b5998;
}

.Social-media i.fa-twitter:hover {
    color:#1da1f2 ;
}

.Social-media i.fa-google-plus:hover {
    color:#dd4b39 ;
}

.Social-media i.fa-pinterest:hover {
    color:#bd081c ;
}

.Social-media i.fa-instagram:hover {
    color:#5851db ;
}

.Social-media i.fa-stumbleupon:hover {
    color:#eb4924 ;
}

.Social-media i.fa-rss:hover {
    color:#f26522 ;
}

/* End Social Section */


/* Start Tabs Section */

.tabs-section {
    padding: 100px 0;
    background-color: #f5f5f5;
}


.tabs-section .tab-switch li {
    height: 110px;
    background-color: #333;
    color: #FFF;
    font-size: 20px;
    line-height: 110px;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}

.tabs-section .tab-switch li.selected,
.tabs-section .tab-switch li:hover {
    background-color: #ff8b38;
}

.tabs-section .tab-content div:not(.tab-one) {
    display: none;
}

.tabs-section .tab-content h3 {
    margin-top: 0;
    margin-bottom: 25px;
    letter-spacing: -1px;
    font-weight: bold;
}

.tabs-section .tab-content p {
    color: #7e7e7e;
    font-size: 16px;
    line-height: 1.6;
}

.tabs-section .tab-content .btn {
    background-color: #ff8b38;
    color: #FFF;
    margin-top: 25px;
}

/* End Tabs Section */

/* Start Sub List Section */

.sub-list {
    padding: 100px 0;
    background-color: #FFF;
}

.sub-list .list-info > h3 {
    font-weight: bold;
}

.sub-list .list-info  >  p {
    margin-bottom: 30px;
}

.sub-list .list-info  p {
    line-height: 1.6;
    color: #a1a1a1;
}

.sub-list .sub-image {
    margin-top: 60px;
    box-shadow: -3px 10px 15px #ccc;
}

.sub-list .list-info i {
    width: 40px;
    height: 40px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 25px;
}

@media (max-width: 991px) {
    .sub-list .list-info i {
        float: none !important;
        margin: 10px 0 0;
    }
}

.sub-list .list-info .icon-text {
    width: calc(100% - 70px);
    margin-bottom: 30px;
}

.sub-list .list-info .icon-text h4 {
    font-weight: bold;
}


@media (max-width: 991px) {
    .sub-list .list-info .icon-text  {
        float: none !important;
        width: 100%;
    }
}

/* End Sub List Section */

/* Start Stand Section */

.stand {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.stand .list-info > h3 {
    font-weight: bold;
    margin-top: 0;
}

.stand .list-info  >  p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #a1a1a1;
}


.stand .stand-image {
    margin-top: 60px;
    box-shadow: -3px 10px 15px #ccc;
}

/* End Stand Section */

/* Start Awesome */

.awesome {
    padding: 80px 0;
}

.awesome .awesome-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.awesome .awesome-desc {
    margin-bottom: 100px;
}

@media (max-width: 991px) {
    .awesome .awesome-desc {
        margin-bottom: 60px;
    }   
}

.awesome p {
    color: #a9aaac;
}

.awesome i {
    width: 70px;
    height: 70px;
    line-height: 66px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
}

.awesome i.fa-keyboard {
    font-size: 35px;
}

.awesome .feat-head {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* End Awesome */

/* Start Pricing Options */

.pricing-options {
    padding: 80px 0;
    background-color: #F5F5F5;
}

.pricing-options .pricing-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.pricing-options .pricing-desc {
    color: #a9aaac;
    margin-bottom: 100px;
}

@media (max-width: 991px) {
    .pricing-options .pricing-desc {
        margin-bottom: 30px;
    }   
}

.pricing-options .pricing-box {
    background-color: #FFF;
}

@media (max-width: 991px) {
    .pricing-options .pricing-box {
        margin-bottom: 50px;
    }

    .pricing-options .pricing-box:last-of-type {
        margin-bottom: 0;
    }
    
    .pricing-options .pricing-box.basic,
    .pricing-options .pricing-box.enterprice {
    margin-top: 0;
}
}

.pricing-options .pricing-box.basic,
.pricing-options .pricing-box.enterprice {
    margin-top: 35px;
}

.pricing-options .pricing-box .box-head {
    background-color: #333;
    color: #FFF;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 2px solid #FFF;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.pricing-options .pricing-box > div {
    background-color: #333;
    color: #FFF;
    padding: 30px 0;
    border-bottom: 5px solid #ff8b38;
    font-family: 'Raleway', sans-serif;
}

.pricing-options .pricing-box > div .price {
    display: block;
    font-size: 70px;
    font-weight: bold;
    color: #FFF;
}

.pricing-options .pricing-box > div .price .usd {
    font-size: 30px
}

.pricing-options .pricing-box > div .price .period {
    color: #adadad;
    font-style: italic;
    font-weight: 600;
}

.pricing-options .pricing-box .most-pop {
    background-color: #ff8b38;
    color: #fff;
    padding: 5px 10px 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.pricing-options .pricing-box > ul li {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #8c8c8c;
    font-weight: 600;
}

/* End Pricing Options */

/* Start Testimonials */

.testimonials {
    padding: 80px 0;
}

.testimonials .testimonials-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.testimonials .testimonials-desc {
    color: #a9aaac;
    margin-bottom: 100px;
}

@media (max-width: 991px){
    .testimonials .testimonials-desc {
        margin-bottom: 50px;
    } 
}

.testimonials .client-say {
    background-color: #f5f5f5;
    color: #7e7f83;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}

.testimonials .client-say:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #f2f2f2 transparent transparent transparent;
    position: absolute;
    bottom: -28px;
    left: 16px;
}

.testimonials .media-heading {
    font-weight: bold;
    margin-top: 10px
}

.testimonials .media-body > p {
    color: #a9aaac;
}

/* End Tesimonials */

/* Start Stylish */

.stylish {
    background: url('../images/stand-image.jpg') no-repeat top center;
    background-size: cover;
    position: relative;
    min-height: 320px;
    color: #FFF;
}

.stylish .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 320px;
    padding: 60px 0;
}

.stylish .stylish-head {
    font-family: 'Raleway', sans-serif;
}

.stylish .border-bottom-center:after {
    background-color: #FFF;
}

.stylish .stylish-desc {
    color: #a9aaac;   
}

.stylish .stylish-btn {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px 25px;
    margin: 30px;
    font-weight: bold;
}

@media (max-width: 991px){
    .stylish .stylish-head {
        margin-top: 0;
    }
}

/* End Stylish */

/* Start Contact Us */

.contact-us {
    padding: 80px 0;
}

.contact-us .contact-head {
    font-family: 'Raleway', sans-serif;
}

.contact-us .contact-desc {
    color: #a9aaac;
    margin-bottom: 100px;
}

@media (max-width: 991px){
    .contact-us .contact-desc {
        margin-bottom: 50px;
    }
}

.contact-us form input[type="text"],
.contact-us form input[type="email"] {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
}

.contact-us form textarea {
    height: 162px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
}

.contact-us .btn {
    background-color: #ff8b38;
    color: #FFF;
    margin: 30px;
    font-weight: bold;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}

.contact-us .btn:hover {
    opacity: 1;
}
/* End Contact Us */

/* Start Footer */

footer {
    background-color: #000;
    color: #EEE;
    padding: 20px;
    font-size: 18px;
}

footer p {
    margin-bottom: 0;
}

/* End Footer */


/* Start Framework */

.uppercase {
    text-transform: uppercase;
}

.border-bottom:after {
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    background-color: #ff8b38;
    margin: 25px 0;
}

.border-bottom-center:after {
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    background-color: #ff8b38;
    margin: 25px auto;
}

@media (max-width: 991px){
    .text-center-xs {
        text-align: center;
    }

    .padding-xs {
        padding: 40px 0;
    }

    .margin-xs {
        margin-bottom: 30px;
    }

    .border-bottom:after {
        margin: 25px auto;
    }

}

/* End Framework */
